AndroidPluginTest/.vs/
AndroidPluginTest/AndroidPluginTest.opensdf
AndroidPluginTest/AndroidPluginTest.sdf
AndroidPluginTest/Binaries/
AndroidPluginTest/Intermediate/
AndroidPluginTest/Saved/Logs/AndroidPluginTest.log
AndroidPluginTest/DerivedDataCache/
